.button {
    padding: 8px 12px;
    background: #FFFF66;
    color: black;
    border: none;
    outline: none;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}